# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.DS_Store
**/.DS_Store

.idea/
.vscode/

**/cmake-build-debug/
build/

DA2425_PRJ2_G307.zip
*.zip
